:root{ 
    --cyan-100:hsl(180, 52%, 96%);
    --cyan-200: hsl(180, 31%, 95%);
    --cyan-400:hsl(179, 29%, 51%);
    --cyan-700:hsl(180, 8%, 52%);
    --cyan-900:hsl(180, 14%, 20%);
}

*,
*::before,
*::after{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family: 'Spartan', sans-serif;
    background-color: var(--cyan-100);
}

p, h1{ 
    margin: 0;
}

ul{ 
    list-style: none;
}

button{ 
    display: inline-block;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

header{ 
    height: 20vh;
    background-image: url(../images/bg-header-mobile.svg);
    background-color:var(--cyan-400) ;
    display: flex;
    align-items: flex-end;
}

.filters{ 
    background-color: white;
    border-radius: 10px;
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;
    transform: translateY(50%);
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    display: none;
    position: relative;
}

.filters .clear{ 
   color: var(--cyan-400);
   font-weight: 500;
   font-size: 1rem;
   justify-self: flex-end;
}

.filters .clear:hover{ 
    text-decoration: underline;
}

.filters.visible{ 
    display: flex;
}

.filters .result , .filters .results{ 
    display: flex;
    align-items: center;
}

.filters .results{ 
    flex: 1;
    flex-wrap: wrap;
    gap: 1rem;
}

.filter{ 
    font-weight: bold;
    background-color: var(--cyan-200);
    color: var(--cyan-400);
    padding: 0.5rem 1rem;
    padding-top: 0.75rem;
    border-radius: 5px 0 0 5px;
}

.close{ 
    background-color: var(--cyan-400);
    padding: 0.7rem;
    padding-bottom: 0.68rem;
    border-radius: 0 5px 5px 0;
}

main{ 
    margin: 7rem 0;
}

@media(max-width: 420px){ 
    main{ 
        padding-top: 1rem;
    }
}

.container{ 
    background-color: white;
    width: 90%;
    max-width: 70rem;
    margin: 3rem auto;
    padding: 2.5rem 1.5rem;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 80px 80px -80px var(--cyan-400);
}


.featured .container::before{ 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.35rem;
    background-color: var(--cyan-400);
    border-radius: 10px 0 0 10px;
}

.company-logo{ 
    position: absolute;
    top: 0;
    width: 3rem;
    transform: translateY(-50%);
}

.company-info{ 
    display: flex;
    align-items: center;
    gap: 1rem;
}

.company-name{ 
    color: var(--cyan-400);
    font-size: 0.85rem;
}

.company-info span{ 
    display: inline-block;
    padding: 0.5rem;
    padding-top: 0.75rem;
    border-radius: 100vw;
    color: white;
    text-transform: uppercase;
    font-size: 00.65rem;
}
.company-info span:first-of-type{
    background-color: var(--cyan-400);
}

.company-info span:nth-of-type(2){
    background-color: var(--cyan-900);
    margin-left: -0.5rem;
}

.job{ 
    color: var(--cyan-900);
    font-weight: bold;
    font-size: 1.25rem;
    margin: 1rem 0;
}

.details span{ 
    color: var(--cyan-700);
}

.details span:not(:last-child)::after{ 
    content: '.';
    font-size: 2rem;
    display: inline-block;
    transform: translateY(-10%);
}

.requirements{ 
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3rem;
    position: relative;
}

.requirements::before{ 
    content: '';
    position: absolute;
    top: -1.75rem;
    width: 100%;
    height: 2px;
    background-color: var(--cyan-700);
}

.requirement{ 
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.3em;
    cursor: pointer;
    border: none;
    font-weight: bold;
    background-color: var(--cyan-100);
    color: var(--cyan-400);
    transition: 250ms ease-in-out;
    font-size: 1.05rem;
}

.requirement:hover{ 
    background-color: var(--cyan-400);
    color: var(--cyan-100);
}

.requirement:focus{ 
    outline: 3px solid   var(--cyan-400);
}

@media(min-width:1150px){ 

    header{ 
        background-image:url(../images/bg-header-desktop.svg) ;
    }
    main{ 
        margin: 6rem 0;
    }

    .filters .clear{ 
        font-size: 1.35rem;
    }

    .container,.company{ 
        display: flex;
    }

    .container{ 
        justify-content: space-between;
        padding-inline: 3rem;
    }

    .requirements::before{ 
        display: none;
    }
    .company{ 
        gap: 2rem;
    }
    .company-logo{ 
        position: static;
        display: inline-block;
        transform: initial;
        width: 6rem;
        height: 6rem;
        object-fit: cover;
    }

    .details{ 
        margin-top: 0;
    }

    .job{ 
        margin: 1rem 0 0 0;
    }

    .requirement{ 
        font-size: .9rem;
    }
}